:root {
  --background-color: #0f1a2e;
  --link-text: #429eff;
  --purple-primary: #3b68ef;
  --alpha-bg: hsla(0,0%,100%,0.1);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: white;
  font-size: 10px;
  cursor: default;
}