.bottom-nav {
  background-color: #ffffff;
  margin-bottom: 0;
  width: 100%;
  height: 6rem;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.1);
}

.button-add {
  position: absolute;
  background-color: var(--primary-color);
  bottom: 3rem;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--substitute-color);
  cursor: pointer;
}

.bottom-nav button,
.button-add button {
  width: 3.5rem;
  height: 3.5rem;
  background-color: inherit;
  border: none;
}

.bottom-nav button:hover, .button-add button:hover {
  opacity: 0.8;
}

.bottom-nav button > img,
.button-add button > img {
  width: 100%;
}